/******** ad 250X600 ********/
#AdGlobal_220X430 {height:604px;}

/*------bottom media-------*/
#index-smallIMG {margin:0}
.bottomInfo { background-color: #f2f2f2; margin-top:20px;}
.bottomInfo-up { width: 1130px; margin: 0 auto; padding: 0;}

.mediaInfo {position:relative;}
.mediaInfo-icon {position:absolute;right:3%;bottom:20px}
.mediaInfo-icon img {margin:5px}
.mediaInfo-bg-s {display:none;height:auto;}
.mediaInfo-bg-l {height:auto;display:block;}

.agate {position:absolute;top:0;left:0;width:18%;height:100%;background:transparent}

.mediaInfo a {display: block;}
.mediaInfo-icon a {float: left;}
.mediaInfo-ta {float: left; position:absolute;top:0;left:18%;width:20%;height:100%;background:transparent;}
.mediaInfo-other {float: right; width:100%;}
.agate_small {display:none;padding:10px}

.agate_small div:first-child {
    border-top: none;
	font-weight: bold;
}
.agate_small div:last-child {
    border-bottom: 1px solid #d1d1d1;
}
.agate_small div{ padding: 5px 0px; color: #000;}

@media screen and (max-width:1024px){
	.bottomInfo-up {
		width: auto;
	}
}
@media screen and (max-width:906px){
	.mediaInfo-bg-l {max-width:100%;}
}
@media screen and (max-width: 770px){
	#AdTour_220X500, #AdTour_220X430, #AdTour_220X400,#AdGlobal_220X430 { display:none;}
}
@media screen and (max-width:768px){
	.mediaInfo-icon {bottom:10px;}
	.mediaInfo-icon img {width:30px;height:30px}
	.display_none_770{display:none}
	.footer-link {height:auto;}
}
@media screen and (max-width:640px){
	.bottomInfo-up {padding: 10px;}
	.mediaInfo-icon img {margin:2px;width:30px;height:30px}
}
@media screen and (max-width:480px){
	.mediaInfo-icon {bottom:0;right:1%;}
}
@media screen and (max-width:425px){
	.mediaInfo-bg-l {display:none}
	.mediaInfo-bg-s {display:block;max-width:100%;}
	.mediaInfo-icon {bottom:5px;width:100%;padding-left:33.8%;box-sizing:border-box;display:flex;flex-wrap:nowrap;justify-content:center;} 
	.mediaInfo-icon img {width:40px;height:40px}
	.agate {display:none !important;}
	.agate_small {display:block}
	.mediaInfo-ta {width:33.8%; position:static;}
	.mediaInfo-other {width:66.1%;}
}
